{% load bootstrap_toolkit %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Wikipedia diff analyzer - TOC</title>
    <meta name="description" content="wikidiff TOC analyzer">
    <meta name="author" content="Daniele Ciminieri">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0" /> 
	<meta http-equiv="Pragma" content="no-cache" />
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "wikitoc/css/style.css" %}">
    <style type="text/css">
        body {
            padding-top: 60px;
        }
        .cell{
        	float:left;
        	width:100px;
        	word-wrap: break-word;
        }
        
        .name{
        	width:200px;
        }
        .raw{
        	margin-top:5px;
        	border-bottom:1px solid #ccc;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">WikiDiff</a>
        </div>
    </div>
</div>

<div class="container">

    {% bootstrap_messages %}

    {% block content %}
   
   <div class="row">
   		
   			
   			Showing ToC revisions for <b>{{voice}}</b>

   	
   </div>
   
   <div class="row" id="graph">
   	
   </div>
    
    {% endblock %}
    
    
  	
  	<script type="application/javascript">
  	
  	
	dat={{data|safe}}

  	var n = dat.length, // number of layers
    m = dat[0].length, // number of samples per layer
    stack = d3.layout.stack(),
    layers = stack(dat),
    yStackMax = d3.max(layers, function(layer) { return d3.max(layer, function(d) { return d.y0 + d.y; }); });

	var margin = {top: 40, right: 10, bottom: 20, left: 10},
    width = 960 - margin.left - margin.right,
    height = dat[0].length*30 - margin.top - margin.bottom;

	var y = d3.scale.ordinal()
    .domain(d3.range(m))
    .rangeRoundBands([2, height], .08);

	var x = d3.scale.linear()
    .domain([0, yStackMax])
    .range([0, width]);

	var color = d3.scale.linear()
    .domain([0, n - 1])
    .range(["#aad", "#556"]);



	var svg = d3.select("#graph").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  	.append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	var layer = svg.selectAll(".layer")
    .data(layers)
  	.enter().append("g")
    .attr("class", "layer")
    .style("fill", function(d, i) { return color(i); });
	
	
	var rect = layer.selectAll("rect")
    .data(function(d) { return d; })
  	.enter().append("rect")
    .attr("y", function(d) { return y(d.x); })
    .attr("x", function(d) { console.log(d.rev+" "+d.x+ " "+d.y+ " "+d.label); return x(d.y0);})
    .attr("height", 20)
    .attr("width", function(d) { return x(d.y); })
    .attr("opacity", 1.0)
    
    .on("click", function(d){
    	layer.selectAll("rect")
    	.attr("opacity",1.0);
    	rect.filter(function(f) {
    		return f.label!=d.label
    	})
    	.attr("opacity",0.5);
    	
    	console.log(d.x);
    	console.log(d.rev);
    	
    	svg.select("text")
    	.remove()
    	
    	var text = svg
    	.append("text")
    	.attr("font-family","Helvetica")
    	.attr("font-size","12px")
    	.attr("x", 2)
		.attr("y", ".35em")
		.text(d.label)
    })
   
  	</script>
  	
    <footer class="row">
        <div class="span6">
            <p>
                &copy; <a href="http://www.densitydesign.org">DensityDesign</a> 2013
            </p>
        </div>
    </footer>

</div> <!-- container -->

</body>
</html>